.jobwrapper {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    .job {
        text-align: center;
        
        .jobheader {
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                padding-left: 10px;

                h2 {
                    padding-top: 10px;
                    margin : 0;
                }
                h6 {
                    margin: 0;
                }
            }
        }

        ul {
            li{
                display: block;
            }
        }
    }
}
