.snaparticle {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}